h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: inherit;
}

* {
  font-family: monospace;
}

.rs-popover-content {
  max-width: 60vh;
  word-break: break-word;
}

.rs-popover {
  max-width: 60vh;
}

.rs-popover.fade.in.placement-top {
  left: 20vh !important;
}
